*{
    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
}


/* Navigation & Header */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav a {
    color: #000;
    text-decoration: none;
    padding: 0 1rem;
}
nav img {
    width: 200px;
    height: 100px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a:hover {
    color: #f1356d;
}
nav ul li {
    padding: 0 2rem;
    position: relative;
}


/* Body and Main background */
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 10rem;
}
body {
    background-color: #ac1e44;
    color: white;
    font-family: 'Playfair Display', serif;
}
footer {
    background-color: #ac1e44;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Path: aboutMe/index.html */
/* About Me */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem;
}
.about img {
    flex: 1;
    padding-right: 2rem;
}

/* Cards */

/* Portfolio Page */


/* Blog Posts Page */


/* Contact Page */

/* Footer */
footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 1rem 0;
}
footer p {
    margin: 0;
}
footer li {
    display: inline;
    padding: 0 1rem;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    color: #f1356d;
}